body
{
    margin: 0;
    height: 100%;
}
table 
{
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
    border-spacing: 1px;
    width: 95%;
    border-collapse: collapse;
  }
  td,th
{
    border: 1px solid var(--border-color);
    padding: 8px;
}
.hlt
{
    background-color: var(--secondary-color);
    color: var(--border-color);
}
.time{
  color : var(--time-color);
}
th,tr
{
    font-size: 35px;
    word-spacing: 1px;
}
:root 
{
    --primary-color: #003300;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #e4e5f1;
    --heading-color: #373D3F;
    --border-color:#000000;
    --time-color:#191970;;
}
[data-theme="dark"] 
{
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: rgb(41, 40, 40);
    --heading-color: #e0cfc3;
    --border-color:#ffffff;
    --time-color:cyan;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /*other styles*/
}

h1 {
    color: var(--heading-color);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900000;

}

a {
    color: var(--primary-color);
}
.a{
    color: var(--primary-color);
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
    em
     {
      margin-left: 10px;
      font-size: 1rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
